<html>
    <head>
        <!--import bootstrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <title>Welcome to tribe</title>
    </head>
    <body>
        <div>
            <div class="row">
                <h1>find your tribe</h1>
            </div>
            <div>
                <p>this is where things will go</p>
            </div>
        </div>
    </body>
</html>