<div id="login-form">
    <form action="" method="post">
        <div class="row">
            Login
        </div>
        <div class="row">
            <input type="text" placeholder="username" id="login-username-field">
        </div>
        <div class="row">
            <input type="password" placeholder="password" id="login-password-field">
        </div>
        <div>
            remeber me
            <input type="radio" name="remember-me" id="login-remember-me-field">
        </div>
        <div class="row">
            <input type="submit">
        </div>
    </form>
</div