<div id="signup-content">
    <form action="" method="post" id="signup-form">
        <div class="row">
            Sign up
        </div>
        <div class="row">
            <input type="text" placeholder="email" id="signup-email-feild">
        </div>
        <div class="row">
            <input type="text" placeholder="username" id="signup-username-feild">
        </div>
        <div class="row">
            <input type="password" placeholder="password" id="signup-password-feild">
        </div>
        <div class="row">
            <input type="submit" id="signup-submit-feild">
        </div>
    </form>
</div>