<link rel="stylesheet" href="/static/css/MainNavigation.css">
<script src="/static/scripts/MainNavigation.js"></script>


<div class="row tribe-header">
    <h1>find your tribe</h1>
    <button id="login-button" type="button">Login</button>
</div>

<div id="login-modal" class="modal">
    <div id="login-modal-content" class="modal-content">

        <!--login form-->
        {% include "TribeFormPartials/RegistrationFormPartial.html" %}
        
        <!--signup form-->
        {% include "TribeFormPartials/LoginFormPartial.html" %}

        <!--Profile form-->
        <div id="user-profile-form">
            
        </div>
    </div>
</div>